# LBB: Streamlining Invoice Processing
### Document Understanding Transformer for Efficient Business Operations in Python
 
ðŸ‘©ðŸ»â€ðŸ« Created By : Heinz Metrosan Donradt

### Import Library
Pertama-tama, mari kita import library yang sesuai dengan proyek kita. Jangan lupa setting option yang memudahkan kita melihat output.

In [36]:
import re # untuk cleaning menggunakan regex (regular expression)
import os # untuk pembacaan data image -> baca nama file
import torch

from PIL import Image # untuk membaca gambar
from transformers import DonutProcessor, VisionEncoderDecoderModel

In [82]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Import Model & Processor
Lalu kita tentukan model dan processor yang diinginkan. Saat ini, kita menggunakan model dan processor "naver-clova-ix/donut-base-finetuned-cord-v2"

In [38]:
processor = DonutProcessor.from_pretrained("naver-clova-ix/donut-base-finetuned-cord-v2")
model = VisionEncoderDecoderModel.from_pretrained("naver-clova-ix/donut-base-finetuned-cord-v2")

Could not find image processor class in the image processor config or the model config. Loading based on pattern matching with the model's feature extractor configuration.

In [39]:
# set model device
device = "cuda" if torch.cuda.is_available() else "cpu"
model.to(device)

VisionEncoderDecoderModel(
  (encoder): DonutSwinModel(
    (embeddings): DonutSwinEmbeddings(
      (patch_embeddings): DonutSwinPatchEmbeddings(
        (projection): Conv2d(3, 128, kernel_size=(4, 4), stride=(4, 4))
      )
      (norm): LayerNorm((128,), eps=1e-05, elementwise_affine=True)
      (dropout): Dropout(p=0.0, inplace=False)
    )
    (encoder): DonutSwinEncoder(
      (layers): ModuleList(
        (0): DonutSwinStage(
          (blocks): ModuleList(
            (0-1): 2 x DonutSwinLayer(
              (layernorm_before): LayerNorm((128,), eps=1e-05, elementwise_affine=True)
              (attention): DonutSwinAttention(
                (self): DonutSwinSelfAttention(
                  (query): Linear(in_features=128, out_features=128, bias=True)
                  (key): Linear(in_features=128, out_features=128, bias=True)
                  (value): Linear(in_features=128, out_features=128, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
                (output): DonutSwinSelfOutput(
                  (dense): Linear(in_features=128, out_features=128, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
              )
              (drop_path): DonutSwinDropPath(p=0.1)
              (layernorm_after): LayerNorm((128,), eps=1e-05, elementwise_affine=True)
              (intermediate): DonutSwinIntermediate(
                (dense): Linear(in_features=128, out_features=512, bias=True)
                (intermediate_act_fn): GELUActivation()
              )
              (output): DonutSwinOutput(
                (dense): Linear(in_features=512, out_features=128, bias=True)
                (dropout): Dropout(p=0.0, inplace=False)
              )
            )
          )
          (downsample): DonutSwinPatchMerging(
            (reduction): Linear(in_features=512, out_features=256, bias=False)
            (norm): LayerNorm((512,), eps=1e-05, elementwise_affine=True)
          )
        )
        (1): DonutSwinStage(
          (blocks): ModuleList(
            (0-1): 2 x DonutSwinLayer(
              (layernorm_before): LayerNorm((256,), eps=1e-05, elementwise_affine=True)
              (attention): DonutSwinAttention(
                (self): DonutSwinSelfAttention(
                  (query): Linear(in_features=256, out_features=256, bias=True)
                  (key): Linear(in_features=256, out_features=256, bias=True)
                  (value): Linear(in_features=256, out_features=256, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
                (output): DonutSwinSelfOutput(
                  (dense): Linear(in_features=256, out_features=256, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
              )
              (drop_path): DonutSwinDropPath(p=0.1)
              (layernorm_after): LayerNorm((256,), eps=1e-05, elementwise_affine=True)
              (intermediate): DonutSwinIntermediate(
                (dense): Linear(in_features=256, out_features=1024, bias=True)
                (intermediate_act_fn): GELUActivation()
              )
              (output): DonutSwinOutput(
                (dense): Linear(in_features=1024, out_features=256, bias=True)
                (dropout): Dropout(p=0.0, inplace=False)
              )
            )
          )
          (downsample): DonutSwinPatchMerging(
            (reduction): Linear(in_features=1024, out_features=512, bias=False)
            (norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
          )
        )
        (2): DonutSwinStage(
          (blocks): ModuleList(
            (0-13): 14 x DonutSwinLayer(
              (layernorm_before): LayerNorm((512,), eps=1e-05, elementwise_affine=True)
              (attention): DonutSwinAttention(
                (self): DonutSwinSelfAttention(
                  (query): Linear(in_features=512, out_features=512, bias=True)
                  (key): Linear(in_features=512, out_features=512, bias=True)
                  (value): Linear(in_features=512, out_features=512, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
                (output): DonutSwinSelfOutput(
                  (dense): Linear(in_features=512, out_features=512, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
              )
              (drop_path): DonutSwinDropPath(p=0.1)
              (layernorm_after): LayerNorm((512,), eps=1e-05, elementwise_affine=True)
              (intermediate): DonutSwinIntermediate(
                (dense): Linear(in_features=512, out_features=2048, bias=True)
                (intermediate_act_fn): GELUActivation()
              )
              (output): DonutSwinOutput(
                (dense): Linear(in_features=2048, out_features=512, bias=True)
                (dropout): Dropout(p=0.0, inplace=False)
              )
            )
          )
          (downsample): DonutSwinPatchMerging(
            (reduction): Linear(in_features=2048, out_features=1024, bias=False)
            (norm): LayerNorm((2048,), eps=1e-05, elementwise_affine=True)
          )
        )
        (3): DonutSwinStage(
          (blocks): ModuleList(
            (0-1): 2 x DonutSwinLayer(
              (layernorm_before): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
              (attention): DonutSwinAttention(
                (self): DonutSwinSelfAttention(
                  (query): Linear(in_features=1024, out_features=1024, bias=True)
                  (key): Linear(in_features=1024, out_features=1024, bias=True)
                  (value): Linear(in_features=1024, out_features=1024, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
                (output): DonutSwinSelfOutput(
                  (dense): Linear(in_features=1024, out_features=1024, bias=True)
                  (dropout): Dropout(p=0.0, inplace=False)
                )
              )
              (drop_path): DonutSwinDropPath(p=0.1)
              (layernorm_after): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
              (intermediate): DonutSwinIntermediate(
                (dense): Linear(in_features=1024, out_features=4096, bias=True)
                (intermediate_act_fn): GELUActivation()
              )
              (output): DonutSwinOutput(
                (dense): Linear(in_features=4096, out_features=1024, bias=True)
                (dropout): Dropout(p=0.0, inplace=False)
              )
            )
          )
        )
      )
    )
    (pooler): AdaptiveAvgPool1d(output_size=1)
  )
  (decoder): MBartForCausalLM(
    (model): MBartDecoderWrapper(
      (decoder): MBartDecoder(
        (embed_tokens): Embedding(57580, 1024, padding_idx=1)
        (embed_positions): MBartLearnedPositionalEmbedding(770, 1024)
        (layers): ModuleList(
          (0-3): 4 x MBartDecoderLayer(
            (self_attn): MBartAttention(
              (k_proj): Linear(in_features=1024, out_features=1024, bias=True)
              (v_proj): Linear(in_features=1024, out_features=1024, bias=True)
              (q_proj): Linear(in_features=1024, out_features=1024, bias=True)
              (out_proj): Linear(in_features=1024, out_features=1024, bias=True)
            )
            (activation_fn): GELUActivation()
            (self_attn_layer_norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
            (encoder_attn): MBartAttention(
              (k_proj): Linear(in_features=1024, out_features=1024, bias=True)
              (v_proj): Linear(in_features=1024, out_features=1024, bias=True)
              (q_proj): Linear(in_features=1024, out_features=1024, bias=True)
              (out_proj): Linear(in_features=1024, out_features=1024, bias=True)
            )
            (encoder_attn_layer_norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
            (fc1): Linear(in_features=1024, out_features=4096, bias=True)
            (fc2): Linear(in_features=4096, out_features=1024, bias=True)
            (final_layer_norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
          )
        )
        (layernorm_embedding): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
        (layer_norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
      )
    )
    (lm_head): Linear(in_features=1024, out_features=57580, bias=False)
  )
)

### Import Image ke dalam list
Setelah kita melakukan pencarian gambar struk, kita import ke dalam list

In [40]:
# folder path
dir_path = 'lbb_input/'

In [41]:
img_filenames = [] # list nama file gambar
images = [] # list objek gambar
labels = [] # list label dari gambar

# iterasi direktori -> looping untuk mendapatkan seluruh nama file di `data_input/valid``
for file in os.listdir(dir_path):
    if file.endswith(('.png', '.jpg', '.jpeg')): # jika file tsb berekstensi ('.png', '.jpg', '.jpeg')
        # menyimpan nama gambar ke list
        img_filenames.append(file)
        
        # membuka dan menyimpan objek gambar ke list
        images.append(Image.open(dir_path + file))


    elif file.endswith('.txt'):  # jika file tersebut berekstensi .txt
        # membuka file teks dan membaca isinya, lalu menyimpan ke list
        with open(dir_path + file, 'r') as label_file: 
            labels.append(label_file.read())

### Transform Gambar menjadi Text
Dengan bantuan DONUT, kita mulai men-transformasi-kan gambar yang sudah kita masukkan ke dalam list menjadi text

In [42]:
task_prompt = "<s_cord-v2>"

In [43]:
def doc_to_text(input_img, task_prompt=task_prompt, model=model, processor=processor):
    # set model device
    device = "cuda" if torch.cuda.is_available() else "cpu"
    model.to(device)
    
    # document preprocessing
    pixel_values = processor(input_img, return_tensors="pt").pixel_values
    decoder_input_ids = processor.tokenizer(task_prompt, add_special_tokens=False, return_tensors="pt")["input_ids"]

    # sequence generation
    outputs = model.generate(
        pixel_values.to(device),
        decoder_input_ids=decoder_input_ids.to(device),
        max_length=model.decoder.config.max_position_embeddings,
        pad_token_id=processor.tokenizer.pad_token_id,
        eos_token_id=processor.tokenizer.eos_token_id,
        use_cache=True,
        bad_words_ids=[[processor.tokenizer.unk_token_id]],
        return_dict_in_generate=True,
        
        # modify parameters
        early_stopping=True,
        num_beams=2,
        output_scores=True,
    )
    
    # document post-processing: sequence token cleaning
    sequence = processor.batch_decode(outputs.sequences)[0]
    sequence = sequence.replace(processor.tokenizer.eos_token, "").replace(processor.tokenizer.pad_token, "")
    sequence = re.sub(r"<.*?>", "", sequence, count=1).strip()  # remove first task start token
    print(sequence)

    # output conversion: token to json
    output = processor.token2json(sequence)

    return output

In [45]:
# list untuk menyimpan hasil generate docs to text
preds = []
 
# step 1: looping gambar yang ada di list `images`
for img in images[:10]:
    # step 2: kita men-generate 1 per 1 dari gambarnya
    result = doc_to_text(img)
    preds.append(result)

<s_menu><s_nm> ++Water 500ml</s_nm><s_cnt> 1</s_cnt><s_price> 0</s_price><sep/><s_nm> Bugsy Fried Rice</s_nm><s_cnt> 1</s_cnt><s_price> 145,000</s_price><sep/><s_nm> Corona Extra</s_nm><s_cnt> 1</s_cnt><s_price> 150,000</s_price><sep/><s_nm> Devils Lair Cab Sav</s_nm><s_cnt> 1</s_cnt><s_price> 3,500,000</s_price><sep/><s_nm> Dunhill Putih</s_nm><s_cnt> 1</s_cnt><s_price> 50,000</s_price><sep/><s_nm> Inniskilin Cabernet</s_nm><s_cnt> 1</s_cnt><s_price> 4,200,000</s_price><sep/><s_nm> Lighter</s_nm><s_cnt> 1</s_cnt><s_price> 15,000</s_price><sep/><s_nm> Macallan 18 Sher Btl</s_nm><s_cnt> 1</s_cnt><s_price> 8,800,000</s_price><sep/><s_nm> Marlboro Ice Blast</s_nm><s_cnt> 1</s_cnt><s_price> 50,000</s_price><sep/><s_nm> Martell XO Btl</s_nm><s_cnt> 1</s_cnt><s_price> 9,200,000</s_price><sep/><s_nm> Mushroom Soup</s_nm><s_cnt> 1</s_cnt><s_price> 65,000</s_price><sep/><s_nm> Salmon Saute</s_nm><s_cnt> 1</s_cnt><s_price> 175,000</s_price><s_sub><s_nm> ++Pokka GreenT 500ml</s_nm><s_cnt> * 2</s_cnt><s_price> 0</s_price><s_sub><s_nm> ++Water 500ml</s_nm><s_cnt> 2</s_cnt><s_price> 0</s_price><sep/><s_nm> Marlboro Light</s_nm><s_cnt> 2</s_cnt><s_price> 100,000</s_price><sep/><s_nm> Marlboro Merah</s_nm><s_cnt> 2</s_cnt><s_price> 100,000</s_price><sep/><s_nm> Sampoerna Mild Merah</s_nm><s_cnt> 2</s_cnt><s_price> 100,000</s_price><sep/><s_nm> Coca Cola</s_nm><s_cnt> 3</s_cnt><s_price> 165,000</s_price><sep/><s_nm> Macallan 18 Sher Btl</s_nm><s_cnt> 3</s_cnt><s_price> 26,400,000</s_price><sep/><s_nm> Saltram No. 1 Shiraz</s_nm><s_cnt> 3</s_cnt><s_price> 11,250,000</s_price><sep/><s_nm> Sampoerna Mild Ment</s_nm><s_cnt> 3</s_cnt><s_price> 150,000</s_price><sep/><s_nm> Bugsy Fried Rice</s_nm><s_cnt> 4</s_cnt><s_price> 550,000</s_price><sep/><s_nm> Telor</s_nm><s_cnt> 4</s_cnt><s_price> 60,000</s_price><sep/><s_nm> Whistler L Chardonay</s_nm><s_cnt> 4</s_cnt><s_price> 7,800,000</s_price><sep/><s_nm> Sngngkong Lada Garam</s_nm><s_cnt> 5</s_cnt><s_price> 325,000</s_price><sep/><s_nm> Fruit Platter</s_nm><s_cnt> 7</s_cnt><s_price> 1,470,000</s_price><sep/><s_nm> Martabak Telor</s_nm><s_cnt> 10</s_cnt><s_price> 750,000</s_price><sep/><s_nm> Tahu Gejrot</s_nm><s_cnt> 10</s_cnt><s_price> 650,000</s_price><sep/><s_nm> Bihun Goreng Seafood</s_nm><s_cnt> 15</s_cnt><s_price> 1,275,000</s_price><sep/><s_nm> Nasi Sambal Setan</s_nm><s_cnt> 15</s_cnt><s_price> 2,175,000</s_price><sep/><s_nm> Mineral Water Btl</s_nm><s_cnt> 35</s_cnt><s_price> 1,225,000</s_price></s_menu><s_sub_total><s_subtotal_price> 80,925,000</s_subtotal_price><s_service_price> 4,046,250</s_service_price><s_tax_price> 21,242,813</s_tax_price><s_etc> 80,925,000</s_etc></s_sub_total><s_total><s_total_price> 106,214,063</s_total_price><s_creditcardprice> 27</s_menutype_cnt><s_menuqty_cnt>.27</s_menuqty_cnt></s_total>
<s_menu><s_nm> CAPPUCCINO</s_nm><s_price> 45,000</s_price><sep/><s_nm> CAPPUCCINO</s_nm><s_price> 45,000</s_price><sep/><s_nm> HAZELNUT CAPPUCCINO</s_nm><s_price> 50,000</s_price><sep/><s_nm> GRN APPLE CELERY JUI</s_nm><s_price> 60,000</s_price><sep/><s_nm> Croissant Cheese</s_nm><s_price> 35,000</s_price><sep/><s_nm> HAZELNUT CAPPUCCINO</s_nm><s_price> 50,000</s_price></s_menu><s_sub_total><s_subtotal_price> 286,000</s_subtotal_price><s_service_price> 14.300</s_service_price><s_tax_price> 30.030</s_tax_price></s_sub_total><s_total><s_total_price> 330,330</s_total_price><s_cashprice> 330.330</s_cashprice><s_changeprice> 30,030</s_changeprice></s_total>
<s_menu><s_nm> MANSO JUICE</s_nm><s_cnt> 3</s_cnt><s_price> Rp180,000</s_price><sep/><s_nm> ORANGE JUICE</s_nm><s_cnt> 12</s_cnt><s_price> Rp 696-10</s_price><sep/><s_nm> MELON JUICE</s_nm><s_cnt> 1</s_cnt><s_price> Rp 50.000</s_price><sep/><s_nm> AVOCADO JUICE</s_nm><s_cnt> 2</s_cnt><s_price> Rp 112,000</s_price><sep/><s_nm> MIXED JUICE</s_nm><s_cnt> 5</s_cnt><s_price> Rp 325,000</s_price><sep/><s_nm> FRESH LEMON SODA</s_nm><s_cnt> 1</s_cnt><s_price> Rp 40.000</s_price><sep/><s_nm> GREEN TEA</s_nm><s_cnt> 12</s_cnt><s_price> Rp 300.000</s_price><sep/><s_nm> BLACK COFFEE</s_nm><s_cnt> 2</s_cnt><s_price> Rp 76,000</s_price><sep/><s_nm> EQUIL NATURAL</s_nm><s_cnt> 7</s_cnt><s_price> Rp 210.000</s_price><sep/><s_nm> STEAM RICE</s_nm><s_cnt> 1</s_cnt><s_price> Rp 25,000</s_price><sep/><s_nm> RICE SET</s_nm><s_cnt> 1</s_cnt><s_price> Rp 44,000</s_price><sep/><s_nm> SAMPOERNA MILD</s_nm><s_cnt> 1</s_cnt><s_price> Rp 25,000</s_price><sep/><s_nm> SAMPOERNA MENTHOL</s_nm><s_cnt> 1</s_cnt><s_price> Rp 25,000</s_price><sep/><s_nm> SENDAI SIRLOIN SET C</s_nm><s_cnt> 9</s_cnt><s_price> Rp 19,980.000</s_price><sep/><s_nm> MN UNASI DOW SET</s_nm><s_cnt> 4</s_cnt><s_price> Rp 1,152.000</s_price><sep/><s_nm> EDAMAME</s_nm><s_cnt> 5</s_cnt><s_price> Rp 215,000</s_price><sep/><s_nm> FROZEN YOGURT</s_nm><s_cnt> 2</s_cnt><s_price> Rp 116,000</s_price><sep/><s_nm> ZENSAI SET A</s_nm><s_cnt> 1</s_cnt><s_price> Rp148.000</s_price><sep/><s_nm> WAGYU SHABU A</s_nm><s_cnt> 8</s_cnt><s_price> Rp 6,144,000</s_price><sep/><s_nm> SEAFOOD SHABU AL</s_nm><s_cnt> 2</s_cnt><s_price> Rp 896,000</s_price></s_menu><s_sub_total><s_subtotal_price> Rp 36,759,000</s_subtotal_price><s_tax_price> Rp 3,383,490</s_tax_price><s_etc> Rp3,075,900</s_etc></s_sub_total><s_total><s_total_price> Rp 37,218,390</s_total_price><s_total_etc> Rp 28,770.000</s_total_etc><s_changeprice> Rp 1,989,000</s_changeprice></s_total>
<s_menu><s_nm> KUE PANADA</s_nm><s_unitprice> 9.000</s_unitprice><s_cnt> 2</s_cnt><s_price> 18.000</s_price><sep/><s_nm> KUE BIAPONG UNTI</s_nm><s_unitprice> 10.000</s_unitprice><s_cnt> 1</s_cnt><s_price> 10.000</s_price><sep/><s_nm> KUE CUCUR</s_nm><s_unitprice> 9.000</s_unitprice><s_cnt> 2</s_cnt><s_price> 18.000</s_price><sep/><s_nm> KUE APANG</s_nm><s_unitprice> 9.000</s_unitprice><s_cnt> 2</s_cnt><s_price> 18.000</s_price><sep/><s_nm> PUDING COKLAT KCL</s_nm><s_unitprice> 12.000</s_unitprice><s_cnt> 1</s_cnt><s_price> 12.000</s_price></s_menu><s_sub_total><s_subtotal_price> 76.000</s_subtotal_price><s_tax_price> 7.600</s_tax_price></s_sub_total><s_total><s_total_price> 87 600</s_total_price><s_menuqty_cnt> 5</s_menuqty_cnt></s_total>
<s_menu><s_nm> CUMI CABE HIJAU</s_nm><s_cnt> 1</s_cnt><s_price> 34,500</s_price><sep/><s_nm> NASI MERAH</s_nm><s_cnt> 1</s_cnt><s_price> 16,000</s_price><sep/><s_nm> PKT AYAM BAKAR</s_nm><s_cnt> 1</s_cnt><s_price> 50,000</s_price><sep/><s_nm> TUMIS TEMPE Kc PJO</s_nm><s_cnt> 1</s_cnt><s_price> 29,500</s_price><sep/><s_nm> TUMIS TERI PARE</s_nm><s_cnt> 1</s_cnt><s_price> 32,500</s_price><sep/><s_nm> TEA TAWAR PANNS</s_nm><s_cnt> 2</s_cnt><s_price> 24,000</s_price><sep/><s_nm> TERONG BALADO</s_nm><s_cnt> 2</s_cnt><s_price> 27,000</s_price></s_menu><s_sub_total><s_subtotal_price> 213,500</s_subtotal_price><s_service_price> 12,810</s_service_price><s_tax_price> 22,631</s_tax_price></s_sub_total><s_total><s_total_price> 248,941</s_total_price></s_total>
<s_menu><s_nm> Kopi Susu Gula Aren Hot</s_nm><s_cnt> 3</s_cnt><s_price> 75.000</s_price><sep/><s_nm> Es Jeruk Siosar</s_nm><s_cnt> 2</s_cnt><s_price> 70.000</s_price><sep/><s_nm> Nasi Goreng Poesaka</s_nm><s_cnt> 2</s_cnt><s_price> 110.000</s_price><sep/><s_nm> Nasi Goreng Kampoeng</s_nm><s_cnt> 2</s_cnt><s_price> 90.000</s_price><sep/><s_nm> Indomie Goreng Dadar</s_nm><s_cnt> 1</s_cnt><s_price> 25.000</s_price></s_menu><s_sub_total><s_subtotal_price> 370.000</s_subtotal_price><s_service_price> 12.210</s_service_price><s_tax_price> 37.000</s_tax_price></s_sub_total><s_total><s_total_price> 419,210</s_total_price></s_total>
<s_menu><s_nm> LUMPIA BASAH (M)</s_nm><s_cnt> 2</s_cnt><s_price> 24,000</s_price><sep/><s_nm> SAUCYSBROOD</s_nm><s_cnt> 1</s_cnt><s_price> 14,000</s_price><sep/><s_nm> SOES SAVOURY</s_nm><s_cnt> 1</s_cnt><s_price> 10,000</s_price><sep/><s_nm> TAUCHO</s_nm><s_cnt> 2</s_cnt><s_price> 48,000</s_price></s_menu><s_sub_total><s_subtotal_price> 48,000</s_subtotal_price><s_tax_price> 4,364</s_tax_price></s_sub_total><s_total><s_total_price> 48,000</s_total_price><s_cashprice> 50,000</s_cashprice><s_changeprice> 2,000</s_changeprice><s_menutype_cnt> 4</s_menutype_cnt><s_menuqty_cnt> 6</s_menuqty_cnt></s_total>
<s_menu><s_nm> ES TEH KANIS JUMBO</s_nm><s_cnt> 3</s_cnt><s_price> $15.000.00</s_price><sep/><s_nm> HOT TEA</s_nm><s_cnt> 1</s_cnt><s_price> $5.000.00</s_price><sep/><s_nm> JUMBO CINGCAU SU SU</s_nm><s_cnt> 2</s_cnt><s_price> $34.000.0</s_price><sep/><s_nm> NASI AYAM GORMENTEGA</s_nm><s_cnt> 2</s_cnt><s_price> $56,000</s_price><sep/><s_nm> NASI BISTIK AYAN</s_nm><s_cnt> 1</s_cnt><s_price> $24,000.00</s_price><sep/><s_nm> NASI BISTIK SAPI</s_nm><s_cnt> 1</s_cnt><s_price> $25,000.00</s_price><sep/><s_nm> NASI CAPCAY</s_nm><s_cnt> 1</s_cnt><s_price> $24,000.00</s_price><sep/><s_nm> NASI PUTIH</s_nm><s_cnt> 2</s_cnt><s_price> $9,000.00</s_price><sep/><s_nm> SAPI LADA HITAN</s_nm><s_cnt> 1</s_cnt><s_price> $28,000.00</s_price></s_menu><s_sub_total><s_subtotal_price> $221.000.00</s_subtotal_price></s_sub_total><s_total><s_total_price> $221.000.00</s_total_price></s_total>
<s_menu><s_nm> CHRTSANTIMUM TEA</s_nm><s_cnt> 1</s_cnt><s_price> 12,000</s_price><sep/><s_nm> DIET COKE</s_nm><s_cnt> 1</s_cnt><s_price> 15,000</s_price><sep/><s_nm> EQUIL HATURAL</s_nm><s_cnt> 1</s_cnt><s_price> 38.000</s_price><sep/><s_nm> ISET MENUI VEGETARIAN</s_nm><s_cnt> 1</s_cnt><s_price> 683,000</s_price><sep/><s_nm> STM VG CONPOY PORSAL</s_nm><s_cnt> 1</s_cnt><s_price> 111.000</s_price><sep/><s_nm> EQUIL SPARSOLING</s_nm><s_cnt> 2</s_cnt><s_price> 74,000</s_price><sep/><s_nm> JASMINE BILAOK TEA</s_nm><s_cnt> 2</s_cnt><s_price> 44,000</s_price><sep/><s_nm> AMLOME TSHAMSA 29HU/PC</s_nm><s_cnt> 12</s_cnt><s_price> 27,800,000</s_price><sep/><s_nm> APPETIZER PLATTER</s_nm><s_cnt> 12</s_cnt><s_price> 3,456,000</s_price><sep/><s_nm> SMRIORSHAHRSFIN</s_nm><s_cnt> 12</s_cnt><s_price> 16,752,000</s_price><sep/><s_nm> MET(100GR)</s_nm><s_cnt> 37</s_cnt><s_price> 11,055,600</s_price><sep/><s_nm> LOBST MUTIARA(100GR)</s_nm><s_cnt> 35</s_cnt><s_price> 16,434,000</s_price></s_menu><s_sub_total><s_subtotal_price> 71,766,600</s_subtotal_price><s_service_price> 7,176,650</s_service_price><s_tax_price> 7,094,326</s_tax_price><s_etc> 245,000<sep/> 71,521,600</s_etc></s_sub_total><s_total><s_total_price> 86,837,586</s_total_price><s_menutype_cnt> 1:12</s_menutype_cnt></s_total>
<s_menu><s_nm> AIR MINERAL</s_nm><s_cnt> 1</s_cnt><s_price> 10,000</s_price><sep/><s_nm> BEEF TONGUE STEAK</s_nm><s_cnt> 1</s_cnt><s_price> 98,000</s_price><sep/><s_nm> STEAK HUT OMELETTE</s_nm><s_cnt> 1</s_cnt><s_price> 46,000</s_price><sep/><s_nm> TEH MANIS</s_nm><s_cnt> 1</s_cnt><s_price> 10,000</s_price></s_menu><s_sub_total><s_subtotal_price> 164,000</s_subtotal_price><s_discount_price> 5,000)</s_discount_price><s_service_price> 10,860</s_service_price><s_tax_price> 5,000)</s_tax_price><s_etc> 164,000</s_etc></s_sub_total><s_total><s_total_price> 119,460</s_total_price><s_menutype_cnt> :4</s_menutype_cnt><s_menuqty_cnt> :4</s_menuqty_cnt></s_total>

Setelah result text didapatkan, mari kita ubah text dictionary menjadi dataframe

In [46]:
df_preds = pd.DataFrame.from_dict(preds)
df_preds

,menu,sub_total,total
0,"[{'nm': '++Water 500ml', 'cnt': '1', 'price': ...","{'subtotal_price': '80,925,000', 'service_pric...","{'total_price': '106,214,063', 'menuqty_cnt': ..."
1,"[{'nm': 'CAPPUCCINO', 'price': '45,000'}, {'nm...","{'subtotal_price': '286,000', 'service_price':...","{'total_price': '330,330', 'cashprice': '330.3..."
2,"[{'nm': 'MANSO JUICE', 'cnt': '3', 'price': 'R...","{'subtotal_price': 'Rp 36,759,000', 'tax_price...","{'total_price': 'Rp 37,218,390', 'total_etc': ..."
3,"[{'nm': 'KUE PANADA', 'unitprice': '9.000', 'c...","{'subtotal_price': '76.000', 'tax_price': '7.6...","{'total_price': '87 600', 'menuqty_cnt': '5'}"
4,"[{'nm': 'CUMI CABE HIJAU', 'cnt': '1', 'price'...","{'subtotal_price': '213,500', 'service_price':...","{'total_price': '248,941'}"
5,"[{'nm': 'Kopi Susu Gula Aren Hot', 'cnt': '3',...","{'subtotal_price': '370.000', 'service_price':...","{'total_price': '419,210'}"
6,"[{'nm': 'LUMPIA BASAH (M)', 'cnt': '2', 'price...","{'subtotal_price': '48,000', 'tax_price': '4,3...","{'total_price': '48,000', 'cashprice': '50,000..."
7,"[{'nm': 'ES TEH KANIS JUMBO', 'cnt': '3', 'pri...",{'subtotal_price': '$221.000.00'},{'total_price': '$221.000.00'}
8,"[{'nm': 'CHRTSANTIMUM TEA', 'cnt': '1', 'price...","{'subtotal_price': '71,766,600', 'service_pric...","{'total_price': '86,837,586', 'menutype_cnt': ..."
9,"[{'nm': 'AIR MINERAL', 'cnt': '1', 'price': '1...","{'subtotal_price': '164,000', 'discount_price'...","{'total_price': '119,460', 'menutype_cnt': ':4..."

In [47]:
df_preds.isna().sum()

menu         0
sub_total    0
total        0
dtype: int64

In [48]:
df = pd.DataFrame(columns=['receipt_id', 'nm', 'cnt', 'price', 'total_price'])
df

Empty DataFrame
Columns: [receipt_id, nm, cnt, price, total_price]
Index: []

In [49]:
# mengiterasi setiap rrow dalam df_preds
for index, row in df_preds.iterrows():

    # mengecek apakah field 'menu' adalah list, jika tidak, ubah menjadi list
    menus = row['menu'] if isinstance(row['menu'], list) else [row['menu']]

    # mengiterasi setiap elemen dalam list 'menus'
    for menu in menus:
        # menambahkan row baru ke 'df' dengan informasi dari 'menu' serta tambahan 'total_price' dan 'receipt_id'
        df.loc[len(df)] = {
            **menu,  # unpack semua pasangan key-value dari dictionary 'menu' yang cocok dg nama kolom yg ada
            'total_price': row['total']['total_price'],  # mengambil 'total_price' dari baris saat ini
            'receipt_id': img_filenames[index].split('.')[0]  # mengambil ID struk dari nama file gambar
        }

Berikut contoh dataframe yang sudah berhasil kita dapatkan:

In [50]:
df.head()

  receipt_id                   nm cnt      price  total_price
0      ID001        ++Water 500ml   1          0  106,214,063
1      ID001     Bugsy Fried Rice   1    145,000  106,214,063
2      ID001         Corona Extra   1    150,000  106,214,063
3      ID001  Devils Lair Cab Sav   1  3,500,000  106,214,063
4      ID001        Dunhill Putih   1     50,000  106,214,063

Mari kita simpan result dataframe ke dalam csv

In [51]:
# menyimpan DataFrame 'df' ke dalam file csv
df.to_csv('lbb_receipt_extracted.csv', 
          index=False)  # berarti indeks DataFrame tidak disertakan dalam file csv

Sehingga kita tidak perlu mengulang transformasi yang memerlukan waktu yang lama, kita bisa read dari csv yang telah kita simpan di step sebelumnya.

In [61]:
df = pd.read_csv('lbb_receipt_extracted.csv' )

In [63]:
new_columns_name = {
    'nm': 'item_name',
    'cnt': 'quantity'
}

df = df.rename(columns=new_columns_name)
df

    receipt_id             item_name  quantity       price  total_price
0        ID001         ++Water 500ml       1.0           0  106,214,063
1        ID001      Bugsy Fried Rice       1.0     145,000  106,214,063
2        ID001          Corona Extra       1.0     150,000  106,214,063
3        ID001   Devils Lair Cab Sav       1.0   3,500,000  106,214,063
4        ID001         Dunhill Putih       1.0      50,000  106,214,063
..         ...                   ...       ...         ...          ...
96       ID009  LOBST MUTIARA(100GR)      35.0  16,434,000   86,837,586
97       ID010           AIR MINERAL       1.0      10,000      119,460
98       ID010     BEEF TONGUE STEAK       1.0      98,000      119,460
99       ID010    STEAK HUT OMELETTE       1.0      46,000      119,460
100      ID010             TEH MANIS       1.0      10,000      119,460

[101 rows x 5 columns]

In [64]:
# fungsi untuk membersihkan string harga dari simbol dan spasi
def clean_price(x):
    return float(x.replace(".", "").replace(",", "").replace("Rp", "").replace("$", "").replace(" ", ""))

In [65]:
df

    receipt_id             item_name  quantity       price  total_price
0        ID001         ++Water 500ml       1.0           0  106,214,063
1        ID001      Bugsy Fried Rice       1.0     145,000  106,214,063
2        ID001          Corona Extra       1.0     150,000  106,214,063
3        ID001   Devils Lair Cab Sav       1.0   3,500,000  106,214,063
4        ID001         Dunhill Putih       1.0      50,000  106,214,063
..         ...                   ...       ...         ...          ...
96       ID009  LOBST MUTIARA(100GR)      35.0  16,434,000   86,837,586
97       ID010           AIR MINERAL       1.0      10,000      119,460
98       ID010     BEEF TONGUE STEAK       1.0      98,000      119,460
99       ID010    STEAK HUT OMELETTE       1.0      46,000      119,460
100      ID010             TEH MANIS       1.0      10,000      119,460

[101 rows x 5 columns]

In [66]:
df.loc[df['price'].str.contains("Rp 696-10"), 'price'] = 'Rp 696,000'
df['price'] = df['price'].apply(lambda x: clean_price(str(x)))

In [67]:
df['total_price'] = df['total_price'].apply(lambda x: clean_price(str(x)))

In [69]:
# membersihkan dan mengkonversi nilai 'x' menjadi float
def clean_quantity(x):
    # jika 'x' bernilai None (tidak ada data), kembalikan 0
    if x is None:
        return 0

    # mengonversi 'x' ke string, menghapus spasi, 'x'/'X', dan ']' dari string tersebut, dan mengembalikan menjadi sebuah angka
    return float(str(x).replace(" ", "").replace("x", "").replace("X", "").replace("]", ""))

In [71]:
# code here: mengaplikasikan fungsi 'clean_quantity' ke setiap elemen di kolom 'quantity' pada 'df'
df['quantity'] = df['quantity'].apply(lambda x: clean_quantity(x))

In [75]:
# menyimpan DataFrame 'df' ke dalam file csv
df.to_csv('lbb_receipt_clean.csv', 
          index=False)  # berarti indeks DataFrame tidak disertakan dalam file csv

In [74]:
# code here
df_pivot = df.pivot_table(index=['receipt_id', 'total_price', 'item_name', 'quantity'])
df_pivot

                                                          price
receipt_id total_price item_name            quantity
ID001      106214063.0 ++Water 500ml        1.0             0.0
                                            2.0             0.0
                       Bihun Goreng Seafood 15.0      1275000.0
                       Bugsy Fried Rice     1.0        145000.0
                                            4.0        550000.0
...                                                         ...
ID009      86837586.0  STM VG CONPOY PORSAL 1.0        111000.0
ID010      119460.0    AIR MINERAL          1.0         10000.0
                       BEEF TONGUE STEAK    1.0         98000.0
                       STEAK HUT OMELETTE   1.0         46000.0
                       TEH MANIS            1.0         10000.0

[95 rows x 1 columns]

### Analisis 1: Item Paling Banyak Dipesan
Menggunakan frequency table untuk mengidentifikasi item yang paling banyak dipesan.

In [76]:
item_frequency = df['item_name'].value_counts()

# Menampilkan 5 item teratas yang paling banyak dipesan
top_items = item_frequency.head(5)
print("Top 5 Most Ordered Items:")
print(top_items)

Top 5 Most Ordered Items:
item_name
++Water 500ml           2
Macallan 18 Sher Btl    2
CAPPUCCINO              2
HAZELNUT CAPPUCCINO     2
Bugsy Fried Rice        2
Name: count, dtype: int64

### Analisis 2: Total Penjualan per Receipt
Menggunakan conditional subsetting untuk menghitung total penjualan per receipt.

In [77]:
# Menghitung total penjualan per receipt
total_sales_per_receipt = df.groupby('receipt_id')['total_price'].sum()

# Menampilkan total penjualan per receipt
print("Total Sales per Receipt:")
print(total_sales_per_receipt)

Total Sales per Receipt:
receipt_id
ID001    3.080208e+09
ID002    1.981980e+06
ID003    7.443678e+08
ID004    4.380000e+05
ID005    1.742587e+06
ID006    2.096050e+06
ID007    1.920000e+05
ID008    1.989000e+08
ID009    1.042051e+09
ID010    4.778400e+05
Name: total_price, dtype: float64

### Analisis 3: Rata-rata Harga Item per Quantity 
Menggunakan conditional subsetting untuk menghitung rata-rata harga item per quantity.

In [80]:
# Menghitung rata-rata harga item per quantity
avg_price_per_quantity = df.groupby('item_name')['price'].mean()

# Menampilkan rata-rata harga item per quantity
print("Average Price per Quantity for Each Item:")
print(avg_price_per_quantity)

Average Price per Quantity for Each Item:
item_name
++Water 500ml                     0.0
AIR MINERAL                   10000.0
AMLOME TSHAMSA 29HU/PC     27800000.0
APPETIZER PLATTER           3456000.0
AVOCADO JUICE                112000.0
BEEF TONGUE STEAK             98000.0
BLACK COFFEE                  76000.0
Bihun Goreng Seafood        1275000.0
Bugsy Fried Rice             347500.0
CAPPUCCINO                    45000.0
CHRTSANTIMUM TEA              12000.0
CUMI CABE HIJAU               34500.0
Coca Cola                    165000.0
Corona Extra                 150000.0
Croissant Cheese              35000.0
DIET COKE                     15000.0
Devils Lair Cab Sav         3500000.0
Dunhill Putih                 50000.0
EDAMAME                      215000.0
EQUIL HATURAL                 38000.0
EQUIL NATURAL                210000.0
EQUIL SPARSOLING              74000.0
ES TEH KANIS JUMBO          1500000.0
Es Jeruk Siosar               70000.0
FRESH LEMON SODA              40000.0
FROZEN YOGURT                116000.0
Fruit Platter               1470000.0
GREEN TEA                    300000.0
GRN APPLE CELERY JUI          60000.0
HAZELNUT CAPPUCCINO           50000.0
HOT TEA                      500000.0
ISET MENUI VEGETARIAN        683000.0
Indomie Goreng Dadar          25000.0
Inniskilin Cabernet         4200000.0
JASMINE BILAOK TEA            44000.0
JUMBO CINGCAU SU SU          340000.0
KUE APANG                     18000.0
KUE BIAPONG UNTI              10000.0
KUE CUCUR                     18000.0
KUE PANADA                    18000.0
Kopi Susu Gula Aren Hot       75000.0
LOBST MUTIARA(100GR)       16434000.0
LUMPIA BASAH (M)              24000.0
Lighter                       15000.0
MANSO JUICE                  180000.0
MELON JUICE                   50000.0
MET(100GR)                 11055600.0
MIXED JUICE                  325000.0
MN UNASI DOW SET            1152000.0
Macallan 18 Sher Btl       17600000.0
Marlboro Ice Blast            50000.0
Marlboro Light               100000.0
Marlboro Merah               100000.0
Martabak Telor               750000.0
Martell XO Btl              9200000.0
Mineral Water Btl           1225000.0
Mushroom Soup                 65000.0
NASI AYAM GORMENTEGA          56000.0
NASI BISTIK AYAN            2400000.0
NASI BISTIK SAPI            2500000.0
NASI CAPCAY                 2400000.0
NASI MERAH                    16000.0
NASI PUTIH                   900000.0
Nasi Goreng Kampoeng          90000.0
Nasi Goreng Poesaka          110000.0
Nasi Sambal Setan           2175000.0
ORANGE JUICE                 696000.0
PKT AYAM BAKAR                50000.0
PUDING COKLAT KCL             12000.0
RICE SET                      44000.0
SAMPOERNA MENTHOL             25000.0
SAMPOERNA MILD                25000.0
SAPI LADA HITAN             2800000.0
SAUCYSBROOD                   14000.0
SEAFOOD SHABU AL             896000.0
SENDAI SIRLOIN SET C       19980000.0
SMRIORSHAHRSFIN            16752000.0
SOES SAVOURY                  10000.0
STEAK HUT OMELETTE            46000.0
STEAM RICE                    25000.0
STM VG CONPOY PORSAL         111000.0
Saltram No. 1 Shiraz       11250000.0
Sampoerna Mild Ment          150000.0
Sampoerna Mild Merah         100000.0
Sngngkong Lada Garam         325000.0
TAUCHO                        48000.0
TEA TAWAR PANNS               24000.0
TEH MANIS                     10000.0
TERONG BALADO                 27000.0
TUMIS TEMPE Kc PJO            29500.0
TUMIS TERI PARE               32500.0
Tahu Gejrot                  650000.0
Telor                         60000.0
WAGYU SHABU A               6144000.0
Whistler L Chardonay        7800000.0
ZENSAI SET A                 148000.0
Name: price, dtype: float64